.margin-0-auto {
  margin: 0 auto;
}

.gradiant {
  @include gradiant();
}

.light-blue {
  color: $light-blue;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-items {
  align-items: flex-end;
}

.text-center {
  text-align: center;
}