.margin-0-auto {
  margin: 0 auto;
}

.gradiant {
  @include gradiant();
}

.light-blue {
  color: $light-blue;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.display-inline-block {
  display: inline-block;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.filter-inverted {
  filter: invert(1)
}

.display-inline {
  display: inline;
}

.display-block {
  display: block;
}

.padding-section {
  padding: 15rem 2rem;
}