body {
  background-color: black;
  color: white;
  font-family: 'SamsungONE', 'Helvetica', Arial;
  font-size: 2.6rem;
}

h1 {
  font-family: 'SamsungSharpSans', 'Helvetica', Arial;
  font-size: 5rem;
  font-weight: bold;
}

.video-container {
  position: relative;
  overflow: hidden;

  .bg-dark-vader {
    position: absolute;
    background: url('/images/products/whycurved_new/img-char.png');    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    bottom: 3%;
    background-size: contain;
  }

  .video-title {
    position: absolute;
    top: 50%;
    left: 27%;
    color: white;
    font-size: calc(5vw + 0.3rem);
    transform: translateY(-100%);
    font-family: 'SamsungSharpSans', 'Helvetica', Arial;
    text-shadow: 0 0 10px #000;
  }

  .samsung-logo {
    position: absolute;
    max-width: 20%;
    top: 2.5vw;
    left: 2.5vw;
  }

  .icon-video-container {
    position: absolute;
    width: 10%;
    bottom: 53%;
    right: 0%;

    img {
      width: 100%;
    }
  }

  .slider {
    position: absolute;
    width: 10%;
    height: auto;
    bottom: 31%;
    right: 4%;

    img {
      width: 100%;
    }

    .item {
      height: auto;
    }
  }

  .mouse_sc {
    position: absolute;
    width: 5vw;
    bottom: 27%;
    left: 50%;
    transform: translateX(-50%);
  }

}

.screen-container {
  div {
    position: relative;
    padding: 0 2rem;
    text-align: center;
  }

  .screen-xxl,
  .screen-xl,
  .screen-l1,
  .screen-l2 {
    position: relative;
    z-index: 2;
  }

  .blue-glow-screen-xxl {
    @include blue-glow(10px, 30%, 35%);
  }

  .blue-glow-screen-xl {
    @include blue-glow(10px, 40%, 35%);
  }

  .blue-glow-screen-l1 {
    @include blue-glow(20px,37%, 40%);
  }

  .blue-glow-screen-l2 {
    @include blue-glow(20px, 16%, 40%);
  }

  .discover-btn {
    border-radius: 2.5rem;
    border: 1px solid $light-blue;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    width: 50%;
    display: block;
    margin: 2rem auto;
  }
  
  .acheter {
    font-size: 1.8rem;
    color:white
  }

}

.megascreen {

  & .inner {
    position: relative;

    & div {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
}


