body {
  background-color: black;
  color: white;
  font-family: 'SamsungONE', 'Helvetica', Arial;
  font-size: 2.6rem;
}

.video-container {
  position: relative;
  overflow: hidden;

  .bg-dark-vader {
    position: absolute;
    background: url('/images/products/whycurved_new/img-char.png');    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    bottom: -8%;
    background-size: contain;
  }

  .video-title {
    position: absolute;
    top: 50%;
    left: 27%;
    color: white;
    font-size: calc(5vw + 0.3rem);
    transform: translateY(-100%);
    font-family: 'SamsungONE', 'Helvetica', Arial;
  }

  .samsung-logo {
    position: absolute;
    max-width: 20%;
    top: 5vw;
    left: 5vw;
  }

  .icon-video-container {
    position: absolute;
    width: 15%;
    bottom: 36%;
    right: 3%;

    img {
      width: 100%;
    }
  }

  .slider {
    position: absolute;
    width: 15%;
    height: auto;
    bottom: 4%;
    right: 8%;

    img {
      width: 100%;
    }

    .item {
      height: auto;
    }
  }

  .mouse_sc {
    position: absolute;
    width: 5vw;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
  }

}

.screen-container {
  div {
    position: relative;
    padding: 0 2rem;
    text-align: center;
  }

  .screen-xxl,
  .screen-xl,
  .screen-l1,
  .screen-l2 {
    position: relative;
    z-index: 2;
  }

  .blue-glow-screen-xxl {
    @include blue-glow(10px, 30%, 35%);
  }

  .blue-glow-screen-xl {
    @include blue-glow(10px, 40%, 35%);
  }

  .blue-glow-screen-l1 {
    @include blue-glow(20px,37%, 40%);
  }

  .blue-glow-screen-l2 {
    @include blue-glow(20px, 16%, 40%);
  }

}

