html {
  font-size: 62.5%;
  box-sizing: border-box; 
}

body {
  video {
    /* if a video is contained in a div, there is a margin at the bottom */
    vertical-align: middle; 
  }
  img {
    max-width: 100%;
    height: auto;
  }
}